.bottom-bar{
  height:50px;
  width:100%;
  background-color: #eee;
  /*box-shadow: 0 0 5px rgb(255,90,0);*/
  display: flex;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.t-article p:nth-of-type(1){
  font-size: 25px;
}
.t-article p{
  font-size: 18px;
}
.no-scrollbar::-webkit-scrollbar{
   display: none;
}

.brand{
  flex:1
}
.shortcut{
  width:300px;
  text-overflow:ellipsis;
  white-space:nowrap
}
.main-brand{
  margin-left: 200px;
  font-size: 22px;
  padding-right: 10px;
}
.my-row {
  display: flex;
}
.my-gutter{
  width:5px;
  background-color: #cdc;
  cursor: grab;
  display: block;
}

@media screen and (max-width: 600px) {
  .my-row{
    display: block;
  }
  .my-gutter{
    display: none;
  }
  .brand{
    display: none;
  }
  .shortcut{
    width:100px;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .main-brand{
    margin-left: 60px;
    font-size: 20px;
    padding-right: 20px;
    flex:1;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.space{
  margin:10px;
  line-height: 25px;
}
